body {
 background-color: #dc3128;
 color: aliceblue;
font-family: "Gravitas One", serif;
font-weight: 400;
font-style: "https://fonts.googleapis.com";
}

.container {
    max-width: 450px;
    margin: 50px auto;
    text-align: center;
}

button{
    padding: 19px 21px;
    font-size: 19px;
    border: #d7ae8a;
    border-radius: 5px;
    background-color: #d7ae8a;
    color: #dc3128;
}

body.dark-mode button {
    background-color: #dc3128;
    color: #d7ae8a;
}
