body {
 background-color: #e8473f;
 color: rgb(216, 64, 64);
font-family: "Gravitas One", serif;
font-weight: 400;
font-style: "https://fonts.googleapis.com";
}
 

.container {
    max-width: 450px;
    margin: 50px auto;
    text-align: center;
}

button{
    padding: 19px 21px;
    font-size: 19px;
    border: #d7ae8a;
    border-radius: 5px;
    background-color: #e12f2f;
    color: #e8514a;
}

body.dark-mode button {
    background-color: #260d0b;
    color: #e12f2f;
;
}
